# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Environment variables
.env

# Log files
*.log
logs/
log/

# Docker artifacts
.docker/
docker-compose.override.yml
*.env.docker
.dockerignore
.docker/
docker-compose.override.yml

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars

# Operating System Files
.DS_Store
Thumbs.db
